// Navigation code here

nav{

    background-color:@wild-sand;
    margin-top: -20px;
    border-bottom: 1px solid @sea-shell ;

    .logo{
        .center();
        font-size: 5rem;
        margin:30px;
    }
    .links{
        .center();
        
    }
    .links a{
        font-size: 2rem;
        margin-left: 40px;
        margin-bottom: 20px;
        text-decoration: none;
        color:@river-bend;

        @media @phone{
           .center();
           font-size:1.6rem;
            }
    }
}


header{
    .center(); 
     img{
        border-radius: 10px;
        width:60%;
        @media @phone {
            width:100%;
         
        }
    }
}